@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  
    
  }
  
  .animate-marquee {
    animation: marquee linear infinite;
    animation-duration: 20s; 
  }
  
  .animate-marquee-vertical {
    animation: marquee-vertical linear infinite;
    animation-duration: 20s; 
  }
  